<div>
  <div class="Hero">
    <div>
      <H1 class="Header__1">Título</H1>
      <p class="content__1">
        Contenido <a href="">more professional</a> <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        fugiat vero molestiae eum, quam, ab accusamus distinctio voluptates
        aperiam perferendis ullam mollitia cupiditate dolor officiis illo
        aliquam. Ducimus, beatae vel.
      </p>
      <button class="get_button">Get Started</button>
    </div>
    <img class="imagen_hero" src="./assets/Captura.PNG" alt="" />
  </div>
</div>
